<style>
    .info-modal-content {
        padding: 20px;
        max-height: 80vh;
        overflow-y: auto;
    }

    .info-modal-header {
        border-bottom: 1px solid #dee2e6;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    .info-section {
        margin-bottom: 1rem;
    }
</style>

@if (IsVisible)
{
    <div class="modal-backdrop" @onclick="@(() => Close())"></div>
    <div class="modal-card">
        <div class="info-modal-content">
            <div class="info-modal-header">
                <h4>Welcome to BlurbBridge!</h4>
            </div>
            
            @* <div class="info-section">
                <h5>About Our Book Database</h5>
                <p>Welcome to our book recommendation system!</p>
                <ul>
                    <li>Is somewhat limited having 50,000 of the most popular English-language books of all time</li>
                    <li>Contains books published up until 2020</li>
                    <li>Is continuously being updated and improved</li>
                </ul>
            </div> *@

            <div class="info-section">
                <h5>How It Works</h5>
                <p>Enter a description of a book you want to find, and we will use AI search techniques to find the most similar books. This approach is somewhat unique and should generate some interesting suggestions!</p>
            </div>

            <button class="btn btn-primary mt-3" @onclick="@(() => Close())">Got it!</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool IsVisible { get; set; }

    [Parameter]
    public EventCallback<bool> IsVisibleChanged { get; set; }

    private async Task Close()
    {
        @* await IsVisibleChanged.InvokeAsync(false); *@
        IsVisible = false;
    }

    protected override async Task OnInitializedAsync()
    {
        IsVisible = true;
    }
}