@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">portfolio</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="About">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> About Me
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Resume.pdf" target="_blank">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Resumé!
            </NavLink>
        </div>

        <div class="dropdown nav-item px-3">
            <NavLink class="nav-link" href="Projects">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Projects!
            </NavLink>
            <div class="dropdown-content @(isOnSubpage ? "show" : "")">
                <div class="nav-item px-3" style="display: inline-block; white-space: nowrap;">
                    <NavLink class="nav-link" href="Projects/Analysis">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Voter Spatial Analysis
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Projects/Website">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Website
                    </NavLink>
                </div>
            </div>
        </div>
    </nav>
</div>


@code {
    private bool isOnSubpage = false;

    protected override void OnInitialized()
    {
        isOnSubpage = NavigationManager.Uri.Contains("/Projects");
    }

    protected override void OnParametersSet()
    {
        isOnSubpage = NavigationManager.Uri.Contains("/Projects");
    }
}
