@page "/Projects/EGC"
<div class="container">
    <div class="project-description">
        <h2><strong>Cyclist Location Emitter:</strong></h2>
        <h4>A Winning Urban Design Competition Project</h4>

        <hr/>
        <h5>Background and Context:</h5>

        <p>Urban cycling has gained prominence as an environmentally friendly and health-conscious mode of transportation. The US Environmental Protection Agency reports that bicycle commuting releases only 34 grams of carbon dioxide per mile, compared to 404 grams for car travel. Additionally, Harvard Medical School research highlights cycling's numerous health benefits, including improved heart health and balance.</p>

        <p>However, safety concerns remain a significant barrier to widespread adoption of cycling as a primary commute method. The National Academy Transportation Research Board identifies safety as a key factor limiting bicycle commuting. While the addition of bike lanes has been shown to improve safety, cyclist fatalities have remained relatively constant over time, indicating that current safety measures are insufficient.</p>

        <hr/>

        <h5>Problem Definition:</h5>
        <p>Our team addressed the challenge: How might we improve the safety of cyclists on urban roads by limiting car-bike crashes?</p>
        <p>This question is particularly relevant in urban areas where cyclists, motorists, and pedestrians frequently share limited space. Despite 77% of jurisdictions intending to improve bicycle infrastructure safety, many fall short due to funding constraints</p>

        <hr/>

        <h5>Our Solution</h5>
        <p>In response to this challenge, our team developed a communications-based cyclist safety device: the Cyclist Location Emitter. This device, the CLE, worked to highlight the number of cyclists near an intersection to motorists, thereby reducing the likelihood of car-bike crashes. The CLE was designed to be mounted on bicycles and emit a signal that would be picked up by mounted signs. The signal would then be displayed, alerting the driver to the presence of cyclists in the area.</p>

        <strong>Key Features:</strong>
        <ol>
            <li><strong>Comprehensive Gap Analysis:</strong> We conducted an in-depth study of Denver's cyclist infrastructure, identifying critical weaknesses and areas for improvement. This analysis involved extensive research into existing infrastructure, traffic patterns, and accident statistics.
            </li>
            <li><strong>Iterative Prototyping:</strong> We created five distinct prototypes, each addressing cyclist safety from a different perspective. A weighted decision matrix was employed to objectively evaluate each prototype based on criteria such as effectiveness, cost, ease of implementation, and potential for widespread adoption.
            </li>
            <li>
                <strong>Stakeholder Engagement:</strong> Throughout the development process, we collaborated with a diverse group of stakeholders, including:
                <ul>
                    <li>End-users (cyclists)</li>
                    <li>Subject matter experts in urban planning, traffic management, and bicycle safety</li>
                    <li>Local government representatives</li>
                </ul>
            </li>
        </ol>

        <p>This solution emerged victorious in a semester long urban design contest.</p>

        <a href="https://storage.googleapis.com/design_1_pdf/Design.pdf" class="pdf-button">Read the Full Report!</a>
    </div>
</div>