@page "/"

<PageTitle>Home</PageTitle>

@* Home Description stuff *@

<div class="bg-image"/>

<div class="bg-text">

    <h1>Hi, I'm <strong> Eadyn</strong></h1>

    <p class="lead"> I'm a software developer and data analyst. Check out what I'm working on, and feel free to reach out! </p>
</div>
<br />

<About/>

<br />

<div  style="padding-left: 2rem; padding-right: 1.5rem;">
    <Projects/>
</div>

@* <Footer /> *@